$font-stack: 'Avenir', 'Avenir Next', 'Arial', sans-serif;
$cursive-stack: 'Shadows Into Light Two', cursive;

.recipe-name {
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}

.author-name, .instagram-name {
    font-size: 22px;
    margin-bottom: 20px;
    width: 220px;
    padding: 5px;
    margin-bottom: 25px;
}

.price {
    font-weight: 600;
    font-size: 44px;
    letter-spacing: 1px;
    color: white;
}

.total-time {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

.info-box {
    font-size: 9.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: $slate-secondary-5;
    letter-spacing: 1px;
    width: 65%;
    @include sm-md-xl {
        width: 80%;
        font-size: 10px;
    }
}
